[submodule "ennodb"]
	path = ennodb
	url = https://github.com/badgerman/ennodb.git
[submodule "iniparser"]
	path = iniparser
	url = https://github.com/badgerman/iniparser.git
[submodule "critbit"]
	path = critbit
	url = https://github.com/badgerman/critbit.git
